<div class="color-surface mx-2 p-3 sf-4 rounded-3">
  <div class="text-center mf-2 mb-2">WHO AM I?</div>
  <p>
    I am a BSIT graduate from Gordon College specializing in using back end
    technologies, hoping to land on a job where I would grow as a developer and
    contribute to the growth of the company.
  </p>

  <p>
    In my early years in college is all about the fundamentals in programming,
    starting with the HTML and CSS basics, C, Java, JavaScript, and others. I am
    a fullstack developer then, controlling all the elements of the application.
    In the later years, where group work becomes vital, I learned to take over
    the back end of the application, adhering to RESTful API principles and also
    programming the logic and service part of the front end: connecting to the
    back end, authentication, form validation, and more.
  </p>

  <p>
    Though I am more of a back end developer, I still learn designing and
    interactivity in the front end.
  </p>
</div>

<div class="color-surface m-2 p-3 rounded-3">
  <div class="text-center mf-2">Connect With Me</div>

  <div class="link-btn-container">
    <a
      href="https://www.linkedin.com/in/charles-john-malit-58810334a/"
      target="_blank"
      class="link-btn"
    >
      <i class="fa-solid fa-phone me-2"></i>
      <div class="sf-4">LinkedIn</div>
    </a>
    <a
      href="mailto:charlesjohnmalit4@gmail.com"
      target="_blank"
      class="link-btn"
    >
      <i class="fa-solid fa-envelope me-2"></i>
      <div class="sf-4">Email</div>
    </a>
    <a href="https://github.com/Chaws-Jewn" target="_blank" class="link-btn">
      <i class="fa-brands fa-github me-2"></i>
      <div class="sf-4">Github</div>
    </a>
  </div>
</div>
