<div class="m-5 mf-1">About Me</div>

<div class="image-placeholder sf-1">INSERT PICTURE</div>

<div class="color-surface p-5">
  <div class="text-center mf-2">WHO AM I?</div>
  <p class="mx-5 sf-4">
    I am a BSIT graduate from Gordon College specializing in using back end
    technologies, hoping to land on a job where I would grow as a developer and
    contribute to the growth of the company. In my early years in college is all
    about the fundamentals in programming, starting with the HTML and CSS
    basics, C, Java, JavaScript, and others. I am a fullstack developer then,
    controlling all the elements of the application. In the later years, where
    group work becomes vital, I learned to take over the back end of the
    application, adhering to RESTful API principles and also programming the
    logic and service part of the front end: connecting to the back end,
    authentication, form validation, and more. Though I am more of a back end
    developer, I still learn designing and interactivity in the front end.
  </p>
</div>

<div class="d-flex justify-content-around p-5">
  <button class="link-btn">
    <div class="sf-4">0966-201-2494</div>
  </button>
  <button class="link-btn">
    <div class="sf-4">charlesjohnmalit4@gmail.com</div>
  </button>
  <button class="link-btn">
    <div class="sf-4">Github Account</div>
  </button>
</div>
