<div class="display-flex text-align-center">
  <div class="container">
    <div class="left">
      <div class="mf-2">Charles John Malit</div>

      <div class="sf-4">
        <em
          >Back end focused developer creating clean APIs, well-structured
          databases, and scalable systems</em
        >
      </div>
    </div>
    <a
      href="../assets/Malit - CV.pdf"
      target="_blank"
      class="color-accent sf-4 right"
      >View My Resume</a
    >
  </div>
</div>

<div class="color-surface p-5">
  <div class="text-center mf-2">TECHNICAL SKILLS</div>

  <div class="multi-logo-container mt-5">
    <img class="logo" src="../assets/logos/angular.png" alt="" />
    <img class="logo" src="../assets/logos/laravel.png" alt="" />
    <img class="logo" src="../assets/logos/js.png" alt="" />
    <img class="logo" src="../assets/logos/ts.png" alt="" />
    <img class="logo" src="../assets/logos/php.svg" alt="" />
    <img class="logo" src="../assets/logos/java.svg" alt="" />
    <img class="logo" src="../assets/logos/python.png" alt="" />
    <img class="logo" src="../assets/logos/html.png" alt="" />
    <img class="logo" src="../assets/logos/css.svg" alt="" />
    <img class="logo rounded-4" src="../assets/logos/django.jpg" alt="" />
    <img class="logo" src="../assets/logos/mysql.png" alt="" />
    <img class="logo" src="../assets/logos/postgresql.png" alt="" />
    <img class="logo rounded-4" src="../assets/logos/github.png" alt="" />
    <img class="logo rounded-4" src="../assets/logos/postman.png" alt="" />
  </div>
</div>
