<div class="display-flex text-align-center">
  <div class="container">
    <div class="left slide slide-right">
      <div class="mf-2">Charles John Malit</div>

      <div class="sf-4">
        <em
          >Back end focused developer creating clean APIs, well-structured
          databases, and scalable systems</em
        >
      </div>
    </div>
    <a
      href="../assets/Malit - Resume.pdf"
      target="_blank"
      class="color-accent sf-4 right slide slide-right"
      >View My Resume</a
    >
  </div>
</div>

<div class="color-surface p-5">
  <div class="text-center mf-2">SKILLS</div>

  <div class="mt-5 text-center sf-3">TECHNICAL</div>

  <div class="multi-logo-container">
    <img class="logo" src="../assets/logos/angular.png" alt="angular logo" />
    <img class="logo" src="../assets/logos/laravel.png" alt="laravel logo" />
    <img class="logo" src="../assets/logos/js.png" alt="javascript logo" />
    <img class="logo" src="../assets/logos/ts.png" alt="typescript logo" />
    <img class="logo" src="../assets/logos/php.svg" alt="php logo" />
    <img class="logo" src="../assets/logos/java.svg" alt="java logo" />
    <img class="logo" src="../assets/logos/python.png" alt="python logo" />
    <img class="logo" src="../assets/logos/html.png" alt="html logo" />
    <img class="logo" src="../assets/logos/css.svg" alt="css logo" />
    <img
      class="logo rounded-4"
      src="../assets/logos/django.jpg"
      alt="django logo"
    />
    <img class="logo" src="../assets/logos/mysql.png" alt="mysql logo" />
    <img
      class="logo"
      src="../assets/logos/postgresql.png"
      alt="postgresql logo"
    />
    <img
      class="logo rounded-4"
      src="../assets/logos/github.png"
      alt="github logo"
    />
    <img
      class="logo rounded-4"
      src="../assets/logos/postman.png"
      alt="postman logo"
    />
  </div>

  <hr class="m-4" />

  <div class="mt-5 text-center sf-3">SOFT</div>
  <div class="container">
    <div class="sf-4 skill-btn">Willingness to learn</div>
    <div class="sf-4 skill-btn">Adaptive to other programming languages</div>
    <div class="sf-4 skill-btn">Team Collaboration</div>
    <div class="sf-4 skill-btn">Detail oriented</div>
  </div>
</div>

<div class="p-5">
  <div class="text-center mf-2">BLOGS</div>

  <div class="link-btn-container">
    <a
      href="https://202110194.wixsite.com/chaws-blog/blog/categories/__ojt"
      target="_blank"
      class="link-btn-swap"
    >
      <i class="fa-solid fa-briefcase me-2"></i>
      <div class="sf-4">On the Job Training Blog</div>
    </a>
    <a
      href="https://202110194.wixsite.com/chaws-blog/blog/categories/_vlog"
      target="_blank"
      class="link-btn-swap"
    >
      <i class="fa-solid fa-video me-2"></i>
      <div class="sf-4">On the Job Training Vlog</div>
    </a>
    <a
      href="https://202110194.wixsite.com/chaws-blog/blog/categories/seminars"
      target="_blank"
      class="link-btn-swap"
    >
      <i class="fa-solid fa-people-group me-2"></i>
      <div class="sf-4">Attended IT Seminars</div>
    </a>
    <a
      href="https://202110194.wixsite.com/chaws-blog/blog/categories/webinars"
      target="_blank"
      class="link-btn-swap"
    >
      <i class="fa-solid fa-users-viewfinder me-2"></i>
      <div class="sf-4">Attended IT Webinars</div>
    </a>
    <a
      href="https://202110194.wixsite.com/chaws-blog/blog/categories/industry-visit"
      target="_blank"
      class="link-btn-swap"
    >
      <i class="fa-solid fa-building me-2"></i>
      <div class="sf-4">IT Industry Visits</div>
    </a>
    <a
      href="https://202110194.wixsite.com/chaws-blog/blog/categories/group-organized"
      target="_blank"
      class="link-btn-swap"
    >
      <i class="fa-solid fa-envelope me-2"></i>
      <div class="sf-4">Group Organized Activities</div>
    </a>
  </div>
</div>
