<div class="display-flex text-align-center">
  <div class="h-20 d-flex align-items-center p-20">
    <div class="container">
      <div class="mf-2">Charles John Malit</div>

      <div class="sf-4">
        <em
          >Back end focused developer creating clean APIs, well-structured
          databases, and scalable systems</em
        >
      </div>
    </div>
  </div>
</div>

<div class="multi-logo-container">
  <img class="logo" src="../assets/angular.png" alt="" />
  <img class="logo" src="../assets/laravel.png" alt="" />
  <img class="logo" src="../assets/js.png" alt="" />
  <img class="logo" src="../assets/ts.png" alt="" />
  <img class="logo" src="../assets/python.png" alt="" />
  <img class="logo" src="../assets/django.avif" alt="" />
  <img class="logo" src="../assets/mysql.png" alt="" />
  <img class="logo" src="../assets/postgresql.png" alt="" />
</div>
