<div class="mx-3">
  <div class="sf-4"><strong>Overview: </strong></div>

  <div class="sf-4">
    Payroll Management System is designed for a driving school which can be
    categorized under small business. This system involves pay calculation, pay
    deductions, holidays and monthly contribution configurations, pay slip
    downloads, payroll downloads, employee management, leave and overtime
    requests, and more. Pay slip and payroll records data fetching time is
    greatly reduced due to denormalization of the data once processed in the
    system (json text in the text field on the database), this helps users in
    accessing their records immediately and consumes less resources.
  </div>
</div>

<div class="mt-3 mx-3">
  <div class="sf-4"><strong>Objectives: </strong></div>

  <div class="sf-4">
    As a back end developer, I am responsible for the back end of our system
    including database structure and functionalities, HTTP requests on the front
    end, logic and authentication handling in front end.
  </div>
</div>

<div class="sf-3 text-center mt-5">Application Screenshots</div>
<div class="mt-1 large-image-container">
  <img src="../../assets/projects/caps/ss/login totoo.png" alt="" />
  <img src="../../assets/projects/caps/ss/login.jpg" alt="" />
</div>

<hr class="m-4" />

<div class="sf-3 text-center mt-3">Diagrams and Flowchart</div>

<div class="mt-1 large-image-container">
  <img src="../../assets/projects/caps/erd.png" alt="" />
</div>

<p class="sf-4 text-center"><em>Entity Relationship Diagram</em></p>

<div class="mt-5 large-image-container">
  <img src="../../assets/projects/caps/dfd.png" alt="" />
</div>

<p class="sf-4 text-center"><em>Data Flow Diagram</em></p>

<div class="mt-5 large-image-container">
  <img src="../../assets/projects/caps/admin flowchart 1.png" alt="" />
  <img src="../../assets/projects/caps/admin flowchart 2.png" alt="" />
  <img src="../../assets/projects/caps/admin flowchart 3.png" alt="" />
</div>

<p class="sf-4 text-center"><em>Admin Simplified Flowchart</em></p>

<div class="mt-5 large-image-container">
  <img src="../../assets/projects/caps/employee flowchart.png" alt="" />
</div>

<p class="sf-4 text-center"><em>Employee Simplified Flowchart</em></p>
