<div class="mx-3">
  <div class="sf-4"><strong>Overview: </strong></div>

  <div class="sf-4">
    Library management system is a system for Gordon College Library and is
    divided among 6 subsystems namely Maintenance (Superadmin functions),
    Cataloging (Library material inputs), Circulation (For borrowing of books),
    Locker (For students and staff using lockers), Online Public Access Catalog
    (For public viewing of available materials), and Student Portal (For student
    reservation and record history)
  </div>
</div>

<div class="mt-3 mx-3 sf-4">
  <strong>Objectives:</strong>
  <ul>
    <li class="sf-4">
      <strong>As a database leader:</strong>
      Ensure database structure would cover all systems and be operational
    </li>
    <li class="sf-4">
      <strong>As a back end leader:</strong>
      Ensure all back end developers from other groups would adhere to RESTful
      API principles and follow project structure
    </li>
    <li class="sf-4">
      <strong>As a back end developer of the cataloging system: </strong>
      Build and cover all data entry points from the front end
    </li>
  </ul>
</div>

<hr class="m-4" />

<div class="sf-3 text-center mt-5">Application Screenshots</div>
<div class="mt-5 large-image-container">
  <img
    src="../../assets/projects/sia/front/login.jpg"
    alt="application log in page"
  />
  <img
    src="../../assets/projects/sia/front/add materials.jpg"
    alt="add materials form"
  />
  <img src="../../assets/projects/sia/front/list.jpg" alt="material list tab" />
  <img src="../../assets/projects/sia/front/reports.jpg" alt="reports tab" />
</div>

<p class="sf-4 text-center"><em>Cataloging System Application</em></p>
<p class="sf-4 text-center">
  <em
    >Features include: (1) Data create, read, update, and delete; (2) Bulk data
    imports; (3) Reports generation with filters and in excel format; (4) Data
    archive through multiple databases with the use of database transactions
  </em>
</p>

<hr class="m-4" />

<div class="sf-3 text-center mt-5">Diagrams and Flowchart</div>

<div class="mt-5 large-image-container">
  <img src="../../assets/projects/sia/LIMS ERD.jpeg" alt="" />
</div>

<p class="sf-4 text-center">
  <em>Entity Relationship Diagram of All Systems</em>
</p>

<div class="mt-5 large-image-container">
  <img src="../../assets/projects/sia/cataloging dfd.png" alt="" />
</div>

<p class="sf-4 text-center">
  <em>Data Flow Diagram of the Cataloging System</em>
</p>
