@media (min-width: 769px) {
  .mf-1,
  .mf-2,
  .mf-3,
  .mf-4,
  .mf-5,
  .mf-6 {
    font-family: var(--serif-font);
  }
  .sf-1,
  .sf-2,
  .sf-3,
  .sf-4,
  .sf-5,
  .sf-6 {
    font-family: var(--sans-font);
  }

  .mf-1,
  .sf-1 {
    font-size: 2.8rem;
  }
  .mf-2,
  .sf-2 {
    font-size: 2.3rem;
  }
  .mf-3,
  .sf-3 {
    font-size: 1.8rem;
  }
  .mf-4,
  .sf-4 {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .mf-1,
  .sf-1 {
    font-size: 2rem;
  }
  .mf-2,
  .sf-2 {
    font-size: 1.8rem;
  }
  .mf-3,
  .sf-3 {
    font-size: 1.6rem;
  }
  .mf-4,
  .sf-4 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .mf-1,
  .sf-1 {
    font-size: 1.6rem;
  }
  .mf-2,
  .sf-2 {
    font-size: 1.4rem;
  }
  .mf-3,
  .sf-3 {
    font-size: 1.2rem;
  }
  .mf-4,
  .sf-4 {
    font-size: 1rem;
  }
}
